* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-size: 100%;
	height: 100%;
	color: white;
	background-image: url(C:/Users/admin/Documents/фва/icons/main_background.jpg);
}
.logo {
	position: relative;
	left: 40px;
	width: 60px;
	height: 40px;
	top: -15px;
}
.main-nav a {
	display: inline-block;
	padding: 0px 10px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	color: white;
	text-align: center;
}
.main-nav ul {
	margin: 0;
	padding: 0;
}
.main-nav li {
	display: inline-block;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	width: 100%;
	max-width: 100%;
	padding: 0px;
	margin: 0 auto;
	background-color: #4F2982;
}
.main-header .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
@media (min-width: 960px) {
	.main-header, .container {
		justify-content: space-between;
	}
}
.main-nav a:hover, .main-nav a label:hover {
	border-bottom: 4px solid white;
	transition: 0.2s;
	cursor: pointer;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
footer {
	margin-top: 2em;
	flex: 0 0 auto;
    height: 100px;
    color: white;
	background-color: #4F2982;
}
.team {
	font-size: 20px;
	position: relative;
	top: 30px;
}
.contact_form input::-moz-placeholder {
	color: white;
}
.contact_form input::-webkit-input-placeholder {
	color: white;
}
#map {
	visibility: hidden;
}
#search {
	padding: 4px;
	color: white;
	text-align: right;
	background-color: #5f6368;
	border: none;
	user-select: none;
 	outline: none;
	border-radius: 8px;
}
#content {
	position: relative;
	color: black;
	width: 80%;
	align-self: center;
}
#main_img {
	margin-top: 2em;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	height: 300px;
}
#history {
	background-size: 100%;
	background-image: url(C:/Users/admin/Documents/фва/icons/history_background.jpg);
	position: relative;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
#history_content {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
}
#history_name {
	position: relative;
	width: 100%;
	font-size: 40px;
	text-align: center;
}
#history_text {
	font-size: 18px;
	width: 50%;
	text-align: center;
	align-self: center;
}
#history_img {
	width: 474px;
	height: 254px;
}
#history_next {
	align-self: center;
	position: relative;
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
  	text-decoration: none;
	user-select: none;
	margin: 2em;
	padding: .5em;
	outline: none;
	border-radius: 8px;
	transition: 0.2s;
 	color: #159625;
 	width: 200px;
 	text-align: center;
 	color: #000000;
 	border-color: #000000;
}
#history_next:hover {
	background: #4F2982;
    cursor: pointer;
    color: #FFFFFF;
    border-color: #FFFFFF;
}